{% extends "template.html" %}
{% load static %}

{% block title %}
  Club Management - UWEFlix
{% endblock %}
{% block content %}
<div>
  <image class="bg-image" src="{% static 'images/films.png' %}"/>
  <div class="bg-overlay"> </div>

  <div class="content">
    <div class="films">
      <h1> User Management </h1>
      <a href="{% url 'add' %}?club" class="btn float">Add Club</a>
      <div class="separator"> </div>
      
      {% for club in clubs %}
        <div class="film" style="height: max-content;">
          <div class="content" style="width: 60%">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M12 5.5A3.5 3.5 0 0 1 15.5 9a3.5 3.5 0 0 1-3.5 3.5A3.5 3.5 0 0 1 8.5 9A3.5 3.5 0 0 1 12 5.5M5 8c.56 0 1.08.15 1.53.42c-.15 1.43.27 2.85 1.13 3.96C7.16 13.34 6.16 14 5 14a3 3 0 0 1-3-3a3 3 0 0 1 3-3m14 0a3 3 0 0 1 3 3a3 3 0 0 1-3 3c-1.16 0-2.16-.66-2.66-1.62a5.536 5.536 0 0 0 1.13-3.96c.45-.27.97-.42 1.53-.42M5.5 18.25c0-2.07 2.91-3.75 6.5-3.75s6.5 1.68 6.5 3.75V20h-13v-1.75M0 20v-1.5c0-1.39 1.89-2.56 4.45-2.9c-.59.68-.95 1.62-.95 2.65V20H0m24 0h-3.5v-1.75c0-1.03-.36-1.97-.95-2.65c2.56.34 4.45 1.51 4.45 2.9V20Z"/></svg>
            <div>
              <div class="info">
                <h3>{{ club.name }}</h3>
                <p>• {{ club.representative.username }} </p>
                <p>• {{ club.account.discount_rate }}% Discount </p>
              </div>
              <div class="info"> 
                <p>{{ club.email }} </p>
                <p>• {{ club.phone_number }} </p>
              </div>
              <div class="info"> 
                <p>{{ club.address }} </p>
              </div>
            </div>
            </div>

          <div class="btn-row">
            <a class="btn" href="/modify?club={{ club.id }}"> Modify </a>
            <a class="btn" href="/delete?club={{ club.id }}"> Delete </a>
          </div>
        </div>
      {% endfor %}
    </div>

  </div> 
</div>
{% endblock %}