{% extends "template.html" %}

{% block title %}
  Your Booking - UWEFlix
{% endblock %}

{% block content %}
<div>
  <image src="{{ booking.showing.film.backdrop_url }}" class="bg-image" />
  <div class="bg-overlay"> </div>
  <div class="content">
    <h1> Booking Confirmation </h1>
    <h3> {{ booking.showing.film.title }} </h3>
    <div class="booking-details" style="justify-content: center; gap: 16px; align-items: center;">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zM9 14H7v-2h2v2zm4 0h-2v-2h2v2zm4 0h-2v-2h2v2zm-8 4H7v-2h2v2zm4 0h-2v-2h2v2zm4 0h-2v-2h2v2z"/></svg>
        <p> {{ booking.showing.date }} @ {{ booking.showing.time }} </p>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M6 21v-2l1-1H4q-.825 0-1.413-.588T2 16V5q0-.825.588-1.413T4 3h16q.825 0 1.413.588T22 5v11q0 .825-.588 1.413T20 18h-3l1 1v2H6Zm-2-5h16V5H4v11Zm0 0V5v11Z"/></svg>
        <p> Screen {{ booking.showing.screen.id }} </p>
      </div>
    </div>

    
    <p> Your booking reference is: {{ booking.id }} </p>

    <a href="{% url 'index' %}" class="btn"> Home </a>
  </div>
</div>
{% endblock %}