{% extends "template.html" %}
{% load static %}

{% block title %}
  Club Rep Account - UWEFlix
{% endblock %}
{% block content %}
  <div>
    {% if user.is_authenticated %}

      <table width="85%" style="margin-left:auto; margin-right:auto">
          <td>
            <h4 style="margin-top: 64px"> Monthly Statement</h4>
            {% if perms.contenttypes.club_rep %} 
              {% if club %}
                {% for club in clubs %}
                  <p>{{ club.representative }}</p>
                  <p>{{ club.name }}</p>
                  <p>{{ club.address }}</p>
                  <p>{{ club.contacts }}</p>
                {% endfor %}
                {% endif %}
              {% else %}
              <div style="margin-bottom: 8px;">
                {% if rep_request %}
                  <a class="btn"> Club Rep Requested </a>
                {% else %}
                  <a href="/request?club_rep=True" class="btn"> Become Club Rep </a>
                {% endif %}
              </div>
            {% endif %}
          </td>
        </tr>
      </table>

      <hr width="85%">
      <table width="85%" cellspacing="0" style="margin-left:auto; margin-right:auto; text-align: center;">
        <tr>
            <th><h3>Booking Id</h3></th>
            <th><h3>Film Title</h3></th>
            <th><h3>Showing Date</h3></th>
            <th><h3>Showing Time</h3></th> 
            <th><h3>Total cost</h3></th>    
            <th><h3>Ticket Quantity</h3></th>    
        </tr>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.id }}</td>
            <td>{{ booking.showing.film.title }}</td>
            <td>{{ booking.showing.date }}</td>
            <th>{{ booking.showing.time }}</th>
            <td>{{ booking.total_cost }}</p></td>
            <td>{{ booking.total_quantity }}</td>
        </tr>
        {% endfor %}
        

      </table>
      <hr width="85%">
      <hr width="85%">


        <table width="100%" cellspacing="0">
          <tr>
            <th>
              <h3 style="margin-top: 16px;">Total Balance: £{{ account.balance }}</h3>
            </th>
          </tr>
        </table>

        <div class="cr">
          <a href="{% url 'payment' %}" class="btn">Settle Debt / Top Up</a>
        </div>
        
    {% endif %}
  </div>
{% endblock %}