<!DOCTYPE html>
<html>
<body>
<form action="/clubs.html" method="post">
    <label for="clubname">Club Name:</label><br>
    <input type "text" id="clubname" name="clubname"><br>
    <label for="address">Address:</label><br>
    <input type "text" id="clubname" name="clubname"><br>
    <label for="contacts">Contacts:</label><br>
    <input type "text" id="contacts" name="contacts"><br>
    <label for="clubrepresentative">Club Representative:</label><br>
    <input type "text" id="clubrepresentative" name="clubrepresentative"><br><br>
    <input type="register" value="Register">
    <input type="reset">
</form>
</body>
</html>