{% extends "template.html" %} 
{% load static %} 

{% block title %} 
    Select an Account 
{% endblock %} 

{% block content %}
<div>
  <div class="am">
    <div class="content">
      {% if accounts %}

      <form method="post">
        <h1>Account Selection</h1>
        {% csrf_token %}
        <div class="">
          <div class="field" style="justify-self: center;">
            <p>Select an Account</p>
            <select name="select_account">
              {% for account in accounts %}
              <option value="{{ account.id }}">{{ account.title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="actions"> 
          <div class="action">
            <label for="view_account">View</label>
            <input
              type="radio"
              name="account_action"
              id="view_account"
              value="view"
              checked
            />
          </div>
          <div class="action">
            <label for="modify_account">Modify</label>
            <input
              type="radio"
              name="account_action"
              id="modify_account"
              value="modify"
            />
          </div>
          <div class="action">
            <label for="delete_account">Delete</label>
            <input
              type="radio"
              name="account_action"
              id="delete_account"
              value="delete"
            />
          </div>
        </div>
        <input type="submit" id="submit" value="Submit" />
      </form>
      <div class="separator" > </div>
      {% else %}
      <h1>No Accounts Available</h1>
      {% endif %}
      <a href="/add_account" id="submit">Add Account</a>
    </div>
  </div>
</div>

{% endblock %}
