{% extends "template.html" %}
{% load static %}

{% block title %}
  Select an Account
{% endblock %}

{% block content %}
<div>
{% if accounts %}
<form>
    {% csrf_token %}
    <label for="select_account">Choose an Account:</label>
    <select name="select_account">
        {% for account in accounts %}
            <option value="account.id">{{ account.title }}</option>
        {% endfor %}
    </select>
    <label for="view_account">View</label>
    <input type="radio" name="account_action" id="view_account" value="view">
    <label for="modify_account">Modify</label>
    <input type="radio" name="account_action" id="modify_account" value="modify">
    <label for="delete_account">Delete</label>
    <input type="radio" name="account_action" id="delete_account" value="delete">

    <input type="submit" value="">
    <a href="">Add Account</a>
</form>
{% endif %}
</div>

{% endblock %}